version: "3.9"

services:
  web:
    image: car_reports_app
    build: .
    container_name: web
    networks:
      - car_app_network
    volumes:
      - .:/app
    # entrypoint: "./bin/initial_migration.sh"
    command: python3 -m app.app
    ports:
      - "8080:8080"
    environment:
      FLASK_APP: app.app
      FLASK_ENV: development

      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: "0126"
      MYSQL_HOST: mysqldb
      MYSQL_DATABASE: user_cred_db

      APP_SECRET_KEY: CAR_PREMIUM_1122
      EXTERNAL_CAR_HEADER_ID: 'hlhoNKjOvEhqzcVAJ1lxjicJLZNVv36GdbboZj3Z'
      EXTERNAL_CAR_HEADER_MASTER_KEY: 'SNMJJF0CZZhTPhLDIqGhTlUNV9r60M2Z5spyWfXW'
    depends_on:
      mysqldb:
        condition: service_healthy
      redis:
        condition: service_started
      flask_migration:
        condition: service_started

  flask_migration:
    image: car_reports_app
    container_name: flask_migration
    networks:
      - car_app_network
    command: flask db upgrade
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: "0126"
      MYSQL_HOST: mysqldb
      MYSQL_DATABASE: user_cred_db
    depends_on:
       mysqldb:
        condition: service_healthy
  worker:
    image: car_reports_app
    container_name: worker
    networks:
      - car_app_network
    entrypoint: "./bin/celery_worker.sh"
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: "0126"
      MYSQL_HOST: mysqldb
      MYSQL_DATABASE: user_cred_db
      
      EXTERNAL_CAR_HEADER_ID: 'hlhoNKjOvEhqzcVAJ1lxjicJLZNVv36GdbboZj3Z'
      EXTERNAL_CAR_HEADER_MASTER_KEY: 'SNMJJF0CZZhTPhLDIqGhTlUNV9r60M2Z5spyWfXW'
    depends_on:
      - mysqldb
      - redis

  beat:
    image: car_reports_app
    container_name: beat
    networks:
      - car_app_network
    entrypoint: "./bin/celery_beater.sh"
    depends_on:
      - mysqldb
      - redis

  mysqldb:
    image: mysql:8.0
    container_name: mysqldb
    networks:
      - car_app_network
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "0126"
      MYSQL_DATABASE: user_cred_db
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -p0126 || exit 1"]
      start_period: 8s
      interval: 4s
      timeout: 7s
      retries: 12

  redis:
    image: redis:7
    container_name: redis
    networks:
      - car_app_network

volumes:
  mysql_data:

networks:
  car_app_network:
    driver: bridge
